<script>
  $(document).ready(() => {
    $("#region-filter").change(() => {
      setTableFilters('abyss-table');
    });
    $("#subcat1-filter").change(() => {
      setTableFilters('abyss-table');
    });
    $("#subcat2-filter").change(() => {
      setTableFilters('abyss-table');
    });
  });
</script>
<section class="filters">
  <div class="filter-group">
    <label labelfor="region-filter">Region:</label>
    <select id="region-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="China">China</option>
      <option value="America">America</option>
      <option value="Europe">Europe</option>
      <option value="Asia">Asia</option>
      <option value="Asia">TW/HK/MO</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="subcat1-filter">Version:</label>
    <select id="subcat1-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="2.4">2.4</option>
      <option value="2.3">2.3</option>
      <option value="2.2">2.2</option>
      <option value="2.1">2.1</option>
      <option value="2.0">2.0</option>
      <option value="1.6">1.6</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="subcat2-filter">Floor:</label>
    <select id="subcat2-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="12-1-1">12-1-1</option>
      <option value="12-1-2">12-1-2</option>
      <option value="12-2-1">12-2-1</option>
      <option value="12-2-2">12-2-2</option>
      <option value="12-3-1">12-3-1</option>
      <option value="12-3-2">12-3-2</option>
      <option value="12-1">12-1</option>
      <option value="12-2">12-2</option>
      <option value="12-3">12-3</option>
      <option value="12-top">12-top</option>
      <option value="12-all">12-all</option>
    </select>
  </div>
</section>
<iframe id="abyss-table" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" src="https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=033af0b1-d082-4238-83be-3b1224b96c81&amp;maxDataAge=3600&amp;theme=light&amp;autoRefresh=true"></iframe>

