
<style>
  html {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .filters {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  #abyss-table {
    width: 95vw !important;
    height: 100vh;
  }

  .dynam-filter {
    padding-left: 2em;
    padding-right: 2em;
    height: fit-content;
    width: fit-content;
  }

  .filter-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2em;
  }
</style>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(() => {
    function buildFilters() {
      const region = $('#region-filter').val();
      const version = $('#version-filter').val();
      const floor = $('#floor-filter').val();
      const filterObj = {
        Region: region,
        SubCat1: version,
        SubCat2: floor
      }
      const reducedFilters = _.reduce(filterObj, (finalParam, thisVal, thisKey) => _.isEmpty(thisVal) ? finalParam : _.assign({
        [thisKey]: thisVal
      }, finalParam), {});
      const stringifiedFilters = JSON.stringify(reducedFilters);
      console.log('Filters:', stringifiedFilters);
      return stringifiedFilters;
    }
    $("#region-filter").change(() => {
      const newFilters = buildFilters();
      const newSource = 'https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=033af0b1-d082-4238-83be-3b1224b96c81&maxDataAge=3600&theme=light&autoRefresh=true&filter=' + newFilters;
      $('#abyss-table').attr('src', newSource);
    });
    $("#version-filter").change(() => {
      const newFilters = buildFilters();
      const newSource = 'https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=033af0b1-d082-4238-83be-3b1224b96c81&maxDataAge=3600&theme=light&autoRefresh=true&filter=' + newFilters;
      $('#abyss-table').attr('src', newSource);
    });
    $("#floor-filter").change(() => {
      const newFilters = buildFilters();
      const newSource = 'https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=033af0b1-d082-4238-83be-3b1224b96c81&maxDataAge=3600&theme=light&autoRefresh=true&filter=' + newFilters;
      $('#abyss-table').attr('src', newSource);
    });
  });
</script>
<section class="filters">
  <div class="filter-group">
    <label labelfor="region-filter">Region:</label>
    <select id="region-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="China">China</option>
      <option value="America">America</option>
      <option value="Europe">Europe</option>
      <option value="Asia">Asia</option>
      <option value="Asia">TW/HK/MO</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="version-filter">Version:</label>
    <select id="version-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="2.4">2.4</option>
      <option value="2.3">2.3</option>
      <option value="2.2">2.2</option>
      <option value="2.1">2.1</option>
      <option value="2.0">2.0</option>
      <option value="1.6">1.6</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="floor-filter">Floor:</label>
    <select id="floor-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="12-1-1">12-1-1</option>
      <option value="12-1-2">12-1-2</option>
      <option value="12-2-1">12-2-1</option>
      <option value="12-2-2">12-2-2</option>
      <option value="12-3-1">12-3-1</option>
      <option value="12-3-2">12-3-2</option>
      <option value="12-1">12-1</option>
      <option value="12-2">12-2</option>
      <option value="12-3">12-3</option>
      <option value="12-top">12-top</option>
      <option value="12-all">12-all</option>
    </select>
  </div>
</section>
<iframe id="abyss-table" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" src="https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=033af0b1-d082-4238-83be-3b1224b96c81&amp;maxDataAge=3600&amp;theme=light&amp;autoRefresh=true"></iframe>

