<script>
  $(document).ready(() => {
    $("#region-filter").change(() => {
      setTableFilters('domain-table');
    });
    $("#subcat2-filter").change(() => {
      setTableFilters('domain-table');
    });
  });
</script>
<section class="filters">
  <div class="filter-group">
    <label labelfor="region-filter">Region:</label>
    <select id="region-filter" class="dynam-filter">
    <option value="" selected="">All</option>
    <option value="China">China</option>
    <option value="America">America</option>
    <option value="Europe">Europe</option>
    <option value="Asia">Asia</option>
    <option value="Asia">TW/HK/MO</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="subcat2-filter">Domain:</label>
    <select id="subcat2-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="Cecilia Garden">Cecilia Garden</option>
      <option value="Hidden Palace of Lianshan Formula">Hidden Palace of Lianshan Formula</option>
      <option value="Court of Flowing Sand">Court of Flowing Sand</option>
      <option value="Domain of Guyun">Domain of Guyun</option>
      <option value="Midsummer Courtyard">Midsummer Courtyard</option>
      <option value="Valley of Remembrance">Valley of Remembrance</option>
      <option value="Hidden Palace of Zhou Formula">Hidden Palace of Zhou Formula</option>
      <option value="Peak of Vindagnyr">Peak of Vindagnyr</option>
      <option value="Ridge Watch">Ridge Watch</option>
      <option value="Momiji-Dyed Court">Momiji-Dyed Court</option>
      <option value="Slumbering Court">Slumbering Court</option>
      <option value="Clear Pool and Mountain Cavern">Clear Pool and Mountain Cavern</option>
      <option value="Taishan Mansion">Taishan Mansion</option>
      <option value="Forsaken Rift">Forsaken Rift</option>
      <option value="Violet Court">Violet Court</option>
    </select>
  </div>
</section>
<iframe id="domain-table" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" src="https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=4281f477-53cd-428c-b366-71eb74edd98a&amp;maxDataAge=3600&amp;theme=light&amp;autoRefresh=true"></iframe>

