<script>
  $(document).ready(() => {
    $("#region-filter").change(() => {
      setTableFilters('weekly-boss-table');
    });
    $("#subcat-filter").change(() => {
      setTableFilters('weekly-boss-table');
    });
  });
</script>
<section class="filters">
  <div class="filter-group">
    <label labelfor="region-filter">Region:</label>
    <select id="region-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="China">China</option>
      <option value="America">America</option>
      <option value="Europe">Europe</option>
      <option value="Asia">Asia</option>
      <option value="TW/HK/MO">TW/HK/MO</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="subcat-filter">Boss:</label>
    <select id="subcat-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="Andrius">Andrius</option>
      <option value="Azhdaha">Azhdaha</option>
      <option value="Childe">Childe</option>
      <option value="Dvalin">Dvalin</option>
      <option value="Signora">Signora</option>
    </select>
  </div>
</section>
<iframe id="weekly-boss-table" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" src="https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=6ebc72e8-7154-4718-9611-34ec72a6e61d&amp;maxDataAge=60&amp;theme=light&amp;autoRefresh=false"></iframe>