<script>
  $(document).ready(() => {
    $("#region-filter").change(() => {
      setTableFilters('world-boss-table');
    });
    $("#subcat-filter").change(() => {
      setTableFilters('world-boss-table');
    });
  });
</script>
<section class="filters">
  <div class="filter-group">
    <label labelfor="region-filter">Region:</label>
    <select id="region-filter" class="dynam-filter">
      <option value="" selected="">All</option>
    <option value="China">China</option>
      <option value="America">America</option>
      <option value="Europe">Europe</option>
      <option value="Asia">Asia</option>
    <option value="TW/HK/MO">TW/HK/MO</option>
    </select>
  </div>
  <div class="filter-group">
    <label labelfor="subcat-filter">Boss:</label>
    <select id="subcat-filter" class="dynam-filter">
      <option value="" selected="">All</option>
      <option value="Anemo Hypostasis">Anemo Hypostasis</option>
      <option value="Coral Defenders">Coral Defenders</option>
      <option value="Cryo Hypostasis">Cryo Hypostasis</option>
      <option value="Cryo Regisvine">Cryo Regisvine</option>
      <option value="Electro Hypostasis">Electro Hypostasis</option>
      <option value="Geo Hypostasis">Geo Hypostasis</option>
      <option value="Golden Wolflord">Golden Wolflord</option>
      <option value="Hydro Hypostasis">Hydro Hypostasis</option>
      <option value="Maguu Kenki">Maguu Kenki</option>
      <option value="Perpetual Mechanical Array">Perpetual Mechanical Array</option>
      <option value="Primo Geovishap">Primo Geovishap</option>
      <option value="Pyro Hypostasis">Pyro Hypostasis</option>
      <option value="Pyro Regisvine">Pyro Regisvine</option>
      <option value="Rhodeia of Loch">Rhodeia of Loch</option>
      <option value="Thunder Manifestation">Thunder Manifestation</option>
    </select>
  </div>
</section>
<iframe id="world-boss-table" style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" src="https://charts.mongodb.com/charts-project-0-bufgk/embed/charts?id=b4ddc059-d431-4578-be52-cd00a2afcb6f&amp;maxDataAge=60&amp;theme=light&amp;autoRefresh=false"></iframe>